# Secretos de Google (¡NUNCA SUBIR!)
token.json
credentials.json
.env

# Carpetas de trabajo (Pesadas)
node_modules/
temp/
output/

# Archivos de sistema
.DS_Store
*.log
*.mp4
!tools/Logo Hjalmar animado v2.mp4
